{{ define "main" }}
<!-- jerad set default tags  -->
{{ if isset .Params "baseURL" }}
    {{ range .Site.Taxonomies.tags }}
    {{ end }}

{{ end }}
<!-- jerad - add quoteAuthor to tags if not present -->
    {{ range (.GetTerms "tags") }}
        <!-- this is debug 
            <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
        -->
    {{ end }}

<!-- end set default tags -->

<div class="container">
  <hgroup>
    {{ partial "breadcrumbs.html" . }}
    <h1>&quot;{{ .Title }}&quot;</h1>
    {{- partial "post_meta.html" . -}}
    <p>{{ .Description }}</p>
  </hgroup>

  <div class="grid grid-main">
    <div>
      {{- if (.Param "ShowToc") }}
        <article class="toc">
          {{- partial "toc.html" . }} 
        </article>
      {{- end }}
      
      {{if .Params.Cover.Image }}
      <img
        class="cover"
        src="{{.Params.Cover.Image | absURL}}"
        width="600"
        height="400"
        align="left"
        layout="responsive"
      >
      </img
      >{{end}}
<!-- jerad resources image create webp  -->
      {{ if and (.Param "scrappieArt") (.Param "quoteImage") }}
        {{- .Scratch.Set "blogimagehero" .Params.quoteImage}}
      {{ else if (.Param "scrappieArt") }}
        {{- .Scratch.Set "blogimagehero" .Params.scrappieArt}}
      {{ end }}
      {{- $image := resources.Get ($.Scratch.Get "blogimagehero") }}
      {{ with $image }}
        {{- $image := $image.Resize "600x webp q50" }}
        {{- $image := $image | images.Filter (images.Gamma .95) (images.Contrast -3) (images.Hue -10) -}}
          <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ .Params.author }} {{ .Title }}">
      {{ end }}
<!-- end new stuff -->


      <div class="post">
        {{- if not (.Param "shareStripOff") }}    
          {{ partial "social-share.html" . }}
        {{ end }}      
        {{- if not (.Param "disableAnchoredHeadings") }} {{- partial "anchored_headings.html"
        .Content -}} {{- else }}{{ .Content }}{{ end }}
      </div>
      {{- if not (.Param "shareStripOff") }}
        {{ partial "social-share.html" . }}
      {{ end }}
      <!-- tags -->
      {{- if .Params.tags }} {{- range ($.GetTerms "tags") }}
      <a href="{{ .Permalink }}">
        <kbd>{{ .LinkTitle }}</kbd>
      </a>
      {{- end }} {{- end }}
    </div>

<!-- jerad SIDEBAR WIP -- ASIN and AI Artwork and QuoteCard quoteWithImage -->
    {{- if or (.Param "asin") (.Param "scrappieArt") }}
    <aside>
      <article>
        <!-- <h3>See Also</h3> -->
          <hgroup>
            <!-- <h4><i>title</i></h4> -->
            <!-- scrappie artwork - merch block -->
            {{- if (.Param "scrappieArt") }}
              {{ partial "originalartwork.html" . }}
            {{ end }}
            <!-- end scrappie merch block -->
            {{- if (.Param "asin") }}
              {{ partial "asin.html" . }}
            {{ end }}

            <!-- jerad quoteWithImage sidebar WIP -->
            {{- if (.Param "quoteWithImage") }}
              {{- $image := resources.Get .Params.quoteWithImage }}
              {{ with $image }}
              {{- $image := $image.Resize "450x webp q85 icon MitchellNetravali" }}
              <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}"
                alt="{{ .Params.author }} {{ .Title }}">
              {{ end }}
            {{ end }}
            <!-- end jerad quoteWithImage WIP -->

          </hgroup>
      </article>
    </aside>
    {{ end }}
<!-- end jerad ASIN WIP -->


    {{- if (.Param "ShowRelated") }} 
    <aside>
      <article>
        {{ $related := .Site.RegularPages.Related . | first 5 }} {{ with
        $related }}
        <h3>See Also</h3>

        {{ range . }}

        <a href="{{ .RelPermalink }}">
          <hgroup>
            <h4>&ldquo;<i>{{ .Title }}</i>&rdquo;</h4>
            <p>{{- partial "post_meta.html" . -}}</p>
          </hgroup>
        </a>

        {{ end }} {{ end }} 
      </article>
    </aside>
    {{ end }}
    
  </div>
  {{- if (.Site.Params.comments) }} {{- partial "comments.html" . }} {{- end }}
</div>
{{ end }}
