<!-- jerad // resources image create webp  -->
{{ if (.Param "scrappieArt") }}
    {{- .Scratch.Set "blogimagehero" .Params.scrappieArt}}
{{ else if (.Param "quoteImage") }}
    {{- .Scratch.Set "blogimagehero" .Params.quoteImage}}
{{ else }}
    <!-- something else for error handling ? -->
{{ end }}

{{ if ($.Scratch.Get "blogimagehero")}}
    {{- $image := resources.Get ($.Scratch.Get "blogimagehero") -}}
    {{- $image := $image.Resize "600x webp q25" -}}
    {{- $image := $image | images.Filter (images.Gamma .95) (images.Contrast -3) (images.Hue -10) (images.GaussianBlur 0.5) -}}
        {{- with $image }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ .Params.Title }}">
        {{- end }}
{{ end }}

<!-- end new stuff -->